@import './base.css';

html, body, h1, h2, h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  min-height: 100vh;
  line-height: 1;
  color: var(--color-text);
  background: var(--color-background);
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3 {
  font-family: 'Playfair', serif;
}
