name: test
on:
  push:
    branches:
      - main
  pull_request:
permissions: {}
jobs:
  test:
    strategy:
      matrix:
        node: ["20", "22", "23"]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Setup node ${{ matrix.node }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ matrix.node }}
          check-latest: false
          cache: "npm"
      - name: Install deps
        run: npm ci --no-audit
      - name: Build package
        env:
          VITE_KEY_CHECKSUM: ${{ secrets.VITE_KEY_CHECKSUM }}
          VITE_KEY_CIPHERTEXT: ${{ secrets.VITE_KEY_CIPHERTEXT }}
        run: npm run build
      - name: Run tests
        env:
          VITE_KEY_CHECKSUM: ${{ secrets.VITE_KEY_CHECKSUM }}
          VITE_KEY_CIPHERTEXT: ${{ secrets.VITE_KEY_CIPHERTEXT }}
        run: npm run test
  automerge:
    needs: test
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Automerge dependabot
        uses: fastify/github-action-merge-dependabot@v3
