name: test
on:
  push:
    branches:
      - main
  pull_request:
permissions: {}
jobs:
  test:
    strategy:
      matrix:
        node: ["22", "24"]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Setup node ${{ matrix.node }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node }}
          check-latest: false
          cache: "npm"
      - name: Install deps
        run: npm ci --no-audit
      - name: Build package
        env:
          VITE_KEY_CHECKSUM: ${{ secrets.VITE_KEY_CHECKSUM }}
          VITE_KEY_CIPHERTEXT: ${{ secrets.VITE_KEY_CIPHERTEXT }}
        run: npm run build
      - name: Run tests
        env:
          VITE_KEY_CHECKSUM: ${{ secrets.VITE_KEY_CHECKSUM }}
          VITE_KEY_CIPHERTEXT: ${{ secrets.VITE_KEY_CIPHERTEXT }}
        run: npm run test
      - name: Run lint
        run: npm run lint
  automerge:
    needs: test
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Automerge dependabot
        uses: fastify/github-action-merge-dependabot@v3
