name: test
on:
  push:
    branches:
      - main
  pull_request:
permissions: {}
jobs:
  test:
    strategy:
      matrix:
        node: ["20", "22", "23"]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Setup node ${{ matrix.node }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ matrix.node }}
          check-latest: false
          cache: "npm"
      - name: Install deps
        run: npm ci --no-audit
      - name: Build package
        env:
          VITE_KEY_CHECKSUM: ${{ secrets.VITE_KEY_CHECKSUM }}
          VITE_KEY_CIPHERTEXT: ${{ secrets.VITE_KEY_CIPHERTEXT }}
        run: npm run build
      - name: Run tests
        env:
          VITE_KEY_CHECKSUM: ${{ secrets.VITE_KEY_CHECKSUM }}
          VITE_KEY_CIPHERTEXT: ${{ secrets.VITE_KEY_CIPHERTEXT }}
        run: npm run test
  automerge:
    needs: test
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Automerge dependabot
        uses: fastify/github-action-merge-dependabot@v3
